av_employees:
  target: dev
  outputs:
    dev:
      type: snowflake
      account: <your_account>.<region>
      user: <username>
      password: <password>           # or use authenticator/private key
      role: <role>
      database: <database>
      warehouse: <warehouse>
      schema: dbt_<your_initials>    # personal dev schema
      threads: 4
